/* ============================================= */
  /*              Navigation                       */
  /* ============================================= */
  
  .nav {
    padding-left: 0;
    flex-basis: $flex-basis;
    display: flex;
    flex-direction: column;
  }
  
  .nav-link {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    display: block;
    width: 100%;
    transition: 
      background-color .2s ease-in-out, 
      color .2s ease-in-out;
  }
  
  .nav-link:hover {
    color: btn-color;
    background-color: $headline-primary;
  }